@page
@model OnlineLaboratory.Pages.TestViews.IndexModel

@{
    ViewData["Title"] = "Tests";
}
<p>
    <a asp-page="Create"   type="button" class="btn btn-info">Book Test</a>
</p>
<table  class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tests[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests[0].TestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests[0].Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" type="button" class="btn btn-info">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" type="button" class="btn btn-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" type="button" class="btn btn-info">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
